/* Example styling of a h1 element */
body {
	background-color: #FFFAFA;
}

h1, p, div {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #0025FF;
	text-align: center;
	font-style: italic;
	font-size: 40px;
}

p {
	font-size: 27px;
	text-align: justify;
	color: #FFFFFF;
	padding: 10px;
}

.sidebar {
	height: 70%;
	width: 20%;
	float: left;
	padding-left: 10px;
}

.main {
	height: 80%;
	width: 70%;
	margin: 0 auto;
	background-color: #0025FF;
	border: 5px solid darkblue;
	margin-left: 25%;
	padding-right: 10px;
}

#button {
	background-color: #FF8C00;
	border: none;
	color: white;
	padding: 80px 15px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 1em;
}

.container {
	width:100%;
}

#button:hover {
	background-color: #FFA500;
	font-size: 300%;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #0025FF;
	text-decoration: none;
}