.albumCard {
    width: 25%;
    height: 360px;
    padding: 10px;
}

@media (max-width: 1024px) {
    .albumCard {
        width: 50%;
        padding: 10px 0px 10px 10px;
    }
}

@media (max-width: 668px) {
    .albumCard {
        width: 100%;
        height: 275px;
        padding: 10px 0px 10px 10px;
    }
}