html {
  background: #c7e0f9;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}

/*** HEADER ***/

header{
  display: flex;
  align-items: center;
}

header img {
  width: 80px;
  height: 50px;
  padding: 8px 16px;
}

header p {

  width: 100%;
  padding: 8px;
}

nav {
  display: none;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  padding: 0px 32px;
}

/*** BIG NEWS SECTION ***/

.big-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
  color: #0025ff;
}

.big-news img {
  margin: 15px 5px 10px 5px;
  width: 95%;
}

.big-news article {
  height: 95px;
  text-align: justify;
  overflow: hidden;
  padding: 0px 15px;
}

.big-news a {
  text-decoration: none;
  padding: 10px 0px;
}

.big-news a:visited {
  color: #000;
}

/*** SEPARATOR ***/
.separator {
  height: 5px;
  background: #0025ff;
  margin: 15px 0px 5px 0px;
}

/*** OTHER NEWS SECTION***/

.other-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-news a {
  text-decoration: none;
  color: #0025ff;
  background: #f2f2f2;
  text-align: center;
  margin: 10px 0px;
  padding: 10px 10px 0px 10px;
}

.other-news img {
  width: 100%;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 650px) {

  header {
    justify-content: space-evenly;
  }

  header img {
    order: 1;
  }

  header p {
    display: none;
  }

  nav {
    display: inline-flex;
    justify-content: space-between;
  }

  .nav-right {
    order: 2;
  }

  .big-news {
    margin: 16px 12px;
    flex-direction: column;
  }

  .big-news img {
    padding: 0px 5px 0px 5px;
    flex-grow: 1;
    height: 100%;
  }

  .big-news article {
    text-align: justify;
    overflow: scroll;
    height: 150px;
  }

  .big-news a {
    display: none;
  }

  .separator {
    margin: 16px 12px 6px 12px;
  }

  .other-news {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 10px;
  }

  .other-news a {
    margin: 10px;
    flex-basis: 40%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 900px) {

  header img {
    order: 0;
  }

  header p {
    display: inline-flex;
    font-size: 24px;
  }

  nav a {
    padding: 0px 16px;
  }

  .big-news {
    flex-direction: row;
    height: 400px;
    width: auto;
    padding: 10px 10px 10px 0px;
  }

  .big-news article {
    font-size: 20px;
    height: 400px;
  }

  .other-news {
    justify-content: left;
    flex-flow: row wrap;
  }

  .other-news a {   
    margin: 10px 11px;
    flex-basis: 20%;
  }
}
