article {
    background-color: #f3f1f1;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    width: 450px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px 0;
}

h3 {
    margin: 0;
}

.formBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sendThought {
    height: 50px;
    width: 200px;
    background-color: #ffadad;
    border: none;
    font-size: 14px;
    border-radius: 25px;
    padding: 10px;
    font-weight: 500;
}

.sendThought:hover {
    cursor: pointer;
}

.sendThought::before {
    content: "\02764   Send happy thought!   \02764";
}

@media (max-width: 668px) {
    article {
        width: 300px;
    }
    h3 {
        font-size: 16px;
    }
}